
<!doctype html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="icons/css/all.min.css"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">  
    <link rel="stylesheet" href="jquery-ui-1.12.1.custom/jquery-ui.min.css">
    <link rel="stylesheet" href="css/arena-keys.css">

    <title>ArenaKeys</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="index.html">ArenaKeys</a>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" href="index.html">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="MyLists.html">My Lists<span class="sr-only">(current)</span></a>
          </li>
          <!--li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
          </li-->
      </ul>
      <form class="ml-auto mr-1">
        <div class="bg-dark text-white">Login with:&nbsp;
          <button class="btn btn-primary"><i class="fab fa-google"></i> &nbsp; Google</button>
          <button class="btn btn-dark border-light"><i class="fab fa-steam"></i> &nbsp; Steam</button>
        </div>
      </form>
    </nav>
    <div id="bg"></div>  
    <div class="container" style="min-height: 100%;">
      <div class="row m-5">
      </div>
      <div class="md-form active-pink active-pink-2 mb-3 mt-0">
        <h1>ArenaKeys</h1>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
          </div>
          <input class="form-control" type="text" placeholder="What game are you looking for?" aria-label="What game are you looking for?" aria-describedby="basic-addon1" id="selector">
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-8 col-lg-12">
          <div class="row">
            <div class="col-sm-11">
              <h5 class="light">Results</h4>
            </div>
            <!--div class="col-sm-1">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Sort by
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Price Ascending</a>
                  <a class="dropdown-item" href="#">Price Descending</a>
                  <a class="dropdown-item" href="#">Name A-Z</a>
                  <a class="dropdown-item" href="#">Name Z-A</a>
                </div>
              </div>
            </div-->
          </div>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="image-parent">
                  <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/don_quixote.jpg" class="img-fluid" alt="quixote">
                  Game 1
              </div>
              <div align="center">
                Steam price: 16€<br>
                Best price: 8€ <br><br>
                <!--button type="button" class="btn btn-primary"><i class="fas fa-plus"></i></button-->
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-plus"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addGameModal">List #1</a>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addGameModal">List #2</a>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addGameModal">List #3</a>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addGameModal">List #4</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="image-parent">
                  <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/as_I_lay.jpg" class="img-fluid" alt="lay">
                  Game 2
              </div>
              <div align="center">
                Steam price: 16€<br>
                Best price: 8€ <br><br>
                <!--button type="button" class="btn btn-primary"><i class="fas fa-plus"></i></button-->
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-plus"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addGameModal">List #1</a>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addGameModal">List #2</a>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addGameModal">List #3</a>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addGameModal">List #4</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">  
              <div class="image-parent">
                  <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/things_fall_apart.jpg" class="img-fluid" alt="things">
                  Game 3
              </div>
              <div align="center">
                Steam price: 16€<br>
                Best price: 8€ <br><br>
                <!--button type="button" class="btn btn-primary"><i class="fas fa-plus"></i></button-->
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-plus"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addGameModal">List #1</a>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addGameModal">List #2</a>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addGameModal">List #3</a>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addGameModal">List #4</a>
                  </div>
                </div>
              </div>
            </li>
            <div class="modal fade" id="addGameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Done</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" align="left">
                    Game added with success!
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
    <footer class="page-footer font-small blue">
      <div class="footer-copyright text-center">© 2020 Copyright:
          <a href="https://mdbootstrap.com/education/bootstrap/">SDE_Project</a>
      </div>
    </footer>  
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="jquery-ui-1.12.1.custom/external/jquery/jquery.js"></script>
    <script src="jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="../data_template.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>