<!doctype html>
    <%- include('head'); -%>
    <body>
        <%- include('navbar'); -%>
        <div id="bg"></div>  
        <div class="container" style="min-height: 100%;">
            <div class="row m-5">
            </div>
            <div class="md-form active-pink active-pink-2 mb-3 mt-0">
                <h1>ArenaKeys</h1>
                <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                </div>
                <input class="form-control" type="text" placeholder="What game are you looking for?" aria-label="What game are you looking for?" aria-describedby="basic-addon1" id="selector">
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-8 col-lg-12">
                <div class="row">
                    <div class="col-sm-11">
                    <h5 class="light">Results</h4>
                    </div>
                    <!--div class="col-sm-1">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort by
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Price Ascending</a>
                        <a class="dropdown-item" href="#">Price Descending</a>
                        <a class="dropdown-item" href="#">Name A-Z</a>
                        <a class="dropdown-item" href="#">Name Z-A</a>
                        </div>
                    </div>
                    </div-->
                </div>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="image-parent">
                        <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/don_quixote.jpg" class="img-fluid" alt="quixote">
                        Game 1
                    </div>
                    <div align="center">
                        Steam price: 16€<br>
                        Best price: 8€ <br><br>
                        <!--button type="button" class="btn btn-primary"><i class="fas fa-plus"></i></button-->
                        <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-plus"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addGameModal">List #1</a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addGameModal">List #2</a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addGameModal">List #3</a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addGameModal">List #4</a>
                        </div>
                        </div>
                    </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="image-parent">
                        <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/as_I_lay.jpg" class="img-fluid" alt="lay">
                        Game 2
                    </div>
                    <div align="center">
                        Steam price: 16€<br>
                        Best price: 8€ <br><br>
                        <!--button type="button" class="btn btn-primary"><i class="fas fa-plus"></i></button-->
                        <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-plus"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addGameModal">List #1</a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addGameModal">List #2</a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addGameModal">List #3</a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addGameModal">List #4</a>
                        </div>
                        </div>
                    </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">  
                    <div class="image-parent">
                        <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/things_fall_apart.jpg" class="img-fluid" alt="things">
                        Game 3
                    </div>
                    <div align="center">
                        Steam price: 16€<br>
                        Best price: 8€ <br><br>
                        <!--button type="button" class="btn btn-primary"><i class="fas fa-plus"></i></button-->
                        <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-plus"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addGameModal">List #1</a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addGameModal">List #2</a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addGameModal">List #3</a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addGameModal">List #4</a>
                        </div>
                        </div>
                    </div>
                    </li>
                    <div class="modal fade" id="addGameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Done</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" align="left">
                            Game added with success!
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                        </div>
                    </div>
                    </div>
                </ul>
                </div>
            </div>
        </div>
        <%- include('footer'); -%>
    </body>
</html>