<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="icons/css/all.min.css"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">  
    <link rel="stylesheet" href="jquery-ui-1.12.1.custom/jquery-ui.min.css">
    <link rel="stylesheet" href="css/arena-keys.css">
    <link rel='icon' href='logos/favicon.png' type='image/x-icon'>
    
    <title>ArenaKeys</title>
</head>