<!doctype html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>SDE_Project</title>
</head>
<body>

    <h1>
        <% if (name) { %>
            <h2><%= name %></h2>
        <% } %>
        <h4><%= organization %></h4>
    </h1>
</body>
</html>