
<!doctype html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="icons/css/all.min.css"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">  
    <link rel="stylesheet" href="jquery-ui-1.12.1.custom/jquery-ui.min.css">
    <link rel="stylesheet" href="css/arena-keys.css">

    <title>ArenaKeys</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">ArenaKeys</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">My Lists<span class="sr-only">(current)</span></a>
        </li>
        <!--li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li-->
      </ul>
    
      <form class="ml-auto mr-1">
        <div class="bg-dark text-white">Login with:&nbsp;
          <button class="btn btn-primary"><i class="fab fa-google"></i> &nbsp; Google</button>
          <button class="btn btn-dark border-light"><i class="fab fa-steam"></i> &nbsp; Steam</button>
        </div>
      </form>
    </nav>

    <div id="bg"></div>  
    <div class="container" style="min-height: 100%;">
      <div class="row m-5">
      </div>
      <div class="md-form active-pink active-pink-2 mb-3 mt-0">
        <h1 align="center">ArenaKeys</h1>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
          </div>
          <input class="form-control" type="text" placeholder="What game are you looking for?" aria-label="What game are you looking for?" aria-describedby="basic-addon1" id="selector">
        </div>
      </div>
    </div>

    <footer class="page-footer font-small blue">
      <div class="footer-copyright text-center">© 2020 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/">SDE_Project</a>
      </div>
    </footer>  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="jquery-ui-1.12.1.custom/external/jquery/jquery.js"></script>
    <script src="jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="../data_template.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>