
<!doctype html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="https://kit.fontawesome.com/834387bfd8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">  
    <link rel="stylesheet" href="jquery-ui-1.12.1.custom/jquery-ui.min.css">
    <link rel="stylesheet" href="css/arena-keys.css">

    <title>SDE_Project</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">ArenaKeys</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">My Lists<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">New List<span class="sr-only">(current)</span></a>
        </li>
        <!--li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li-->
      </ul>
    
      <form class="ml-auto mr-1">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#LoginModal">
          Login&nbsp;<i class="fas fa-sign-in-alt"></i>
        </button>
        <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sign in</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="inputEmail" class="col-form-label">Email:</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="Enter email">
                  </div>
                  <div><p></p></div>
                  <div class="form-group">
                    <label for="inputPassword" class="col-form-label">Password:</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                  </div>
                </form>
              </div>
              <div class="row">
                <div class="col-md-12" align="center">
                  <p>OR SIGN IN WITH</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6" align="center">
                  <button class="btn btn-primary"><i class="fab fa-google"></i> &nbsp; Google</button><div><p></p></div>
                </div>
                <div class="col-md-6" align="center">
                  <button class="btn btn-dark"><i class="fab fa-steam"></i> &nbsp; Steam</button>
                </div>
              </div>
              <div><p></p></div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Login</button>
              </div>
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#RegisterModal">
          Sign up&nbsp;<i class="fas fa-user-plus"></i>
        </button>
        <div class="modal fade" id="RegisterModal" tabindex="-1" role="dialog" aria-labelledby="LoginModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sign up</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="inputUsername" class="col-form-label">Username:</label>
                    <input type="text" class="form-control" id="inputUsername" placeholder="Username">
                  </div>
                  <div class="form-group">
                    <label for="inputFirstName" class="col-form-label">First Name:</label>
                    <input type="text" class="form-control" id="inputUsername" placeholder="First Name">
                  </div>
                  <div class="form-group">
                    <label for="inputLastName" class="col-form-label">Last Name:</label>
                    <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
                  </div>
                  <div class="form-group">
                    <label for="inputEmail" class="col-form-label">Email:</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="Enter email">
                  </div>
                  <div class="form-group">
                    <label for="inputPassword" class="col-form-label">Password:</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <label for="inputConfirmPassword" class="col-form-label">Confirm Password:</label>
                    <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm Password">
                  </div>
                </form>
              </div>
              <div class="row">
                <div class="col-md-12" align="center">
                  <p>OR SIGN UP WITH</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6" align="center">
                  <button class="btn btn-primary"><i class="fab fa-google"></i> &nbsp; Google</button><div><p></p></div>
                </div>
                <div class="col-md-6" align="center">
                  <button class="btn btn-dark"><i class="fab fa-steam"></i> &nbsp; Steam</button>
                </div>
              </div>
              <div><p></p></div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Register</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </nav>

    <div id="bg"></div>  
    <div class="container" style="min-height: 100%;">
      <div class="row m-5">
      </div>
      <div class="md-form active-pink active-pink-2 mb-3 mt-0">
        <h1 align="center">ArenaKeys</h1>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
          </div>
          <input class="form-control" type="text" placeholder="What game are you looking for?" aria-label="What game are you looking for?" aria-describedby="basic-addon1" id="selector">
        </div>
      </div>
    </div>

    <footer class="page-footer font-small blue">
      <div class="footer-copyright text-center">© 2020 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/">SDE_Project</a>
      </div>
    </footer>  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="jquery-ui-1.12.1.custom/external/jquery/jquery.js"></script>
    <script src="jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="../data_template.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>