
<!doctype html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="https://kit.fontawesome.com/834387bfd8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">  
    <link rel="stylesheet" href="jquery-ui-1.12.1.custom/jquery-ui.min.css">
    
    <link rel="stylesheet" href="css/arena-keys.css">

    <title>SDE_Project</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      
      <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="Bootstrappin'"width="120"></a>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" href="index.html">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="#">My Lists<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="NewList.html">New List<span class="sr-only">(current)</span></a>
          </li>
          <!--li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
          </li-->
      </ul>
      <form class="ml-auto mr-1">
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="EditUser.html" type="button"><i class="fas fa-info-circle"></i>&nbsp;Account Info</a>
              <button class="dropdown-item" type="button"><i class="fas fa-sign-out-alt"></i>&nbsp;Logout</button>
          </div>
        </div>
      </form>

    </nav>
      
    <div id="bg"></div>
    
    <div class="container" style="min-height: 100%;">

    <div class="row m-5">
    </div>
    
    <div class="">
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="heading1">
            <h5 class="mb-0">
              <div class="row">
                <div class="col-md-10">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                    List #1
                  </button>
                </div>
                <div class="col-md-2" align="right">
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-trash"></i></button>
                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Delete List</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body" align="left">
                          Are you sure to delete this list?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                          <button type="button" class="btn btn-danger">Yes</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                </div>
              </div>
            </h5>
          </div>
          <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordionExample">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="image-parent">
                    <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/don_quixote.jpg" class="img-fluid" alt="quixote">
                    Game 1
                </div>
                <div align="center">
                  Steam price: 16€<br>
                  Best price: 8€ <br><br>
                  <button type="button" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="image-parent">
                    <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/as_I_lay.jpg" class="img-fluid" alt="lay">
                    Game 2
                </div> 
                <div align="center">
                  Steam price: 16€<br>
                  Best price: 8€ <br><br>
                  <button type="button" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                </div>  
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">  
                <div class="image-parent">
                    <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/things_fall_apart.jpg" class="img-fluid" alt="things">
                    Game 3
                </div>
                <div align="center">
                  Steam price: 16€<br>
                  Best price: 8€ <br><br>
                  <button type="button" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="heading2">
            <h5 class="mb-0">
              <div class="row">
                <div class="col-md-10">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                    List #2
                  </button>
                </div>
                <div class="col-md-2" align="right">
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-trash"></i></button>
                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Delete List</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body" align="left">
                          Are you sure to delete this list?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                          <button type="button" class="btn btn-danger">Yes</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                </div>
              </div>
            </h5>
          </div>
          <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordionExample">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="image-parent">
                    <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/don_quixote.jpg" class="img-fluid" alt="quixote">
                    Game 1
                </div>
                <div align="center">
                  Steam price: 16€<br>
                  Best price: 8€ <br><br>
                  <button type="button" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="image-parent">
                    <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/as_I_lay.jpg" class="img-fluid" alt="lay">
                    Game 2
                </div>
                <div align="center">
                  Steam price: 16€<br>
                  Best price: 8€ <br><br>
                  <button type="button" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">  
                <div class="image-parent">
                    <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/things_fall_apart.jpg" class="img-fluid" alt="things">
                    Game 3
                </div>
                <div align="center">
                  Steam price: 16€<br>
                  Best price: 8€ <br><br>
                  <button type="button" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="heading3">
            <h5 class="mb-0">
              <div class="row">
                <div class="col-md-10">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                    List #3
                  </button>
                </div>
                <div class="col-md-2" align="right">
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-trash"></i></button>
                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Delete List</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body" align="left">
                          Are you sure to delete this list?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                          <button type="button" class="btn btn-danger">Yes</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                </div>
              </div>
            </h5>
          </div>
          <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionExample">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="image-parent">
                    <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/don_quixote.jpg" class="img-fluid" alt="quixote">
                    Game 1
                </div>
                <div align="center">
                  Steam price: 16€<br>
                  Best price: 8€ <br><br>
                  <button type="button" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="image-parent">
                    <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/as_I_lay.jpg" class="img-fluid" alt="lay">
                    Game 2
                </div>
                <div align="center">
                  Steam price: 16€<br>
                  Best price: 8€ <br><br>
                  <button type="button" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">  
                <div class="image-parent">
                    <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/things_fall_apart.jpg" class="img-fluid" alt="things">
                    Game 3
                </div>
                <div align="center">
                  Steam price: 16€<br>
                  Best price: 8€ <br><br>
                  <button type="button" class="btn btn-danger"><i class="fas fa-trash"></i></span></button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row m-5">
    </div>

    <footer class="page-footer font-small blue">
      <div class="footer-copyright text-center">© 2020 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/">SDE_Project</a>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="jquery-ui-1.12.1.custom/external/jquery/jquery.js"></script>
    <script src="jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="data_template.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </div>
  </body>
</html>