<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand href="#"><img id="anonymousLogo" src="logos/logo.png" alt="ArenaKeys"></a>
    <ul class="navbar-nav mr-auto">
        <!--li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
        </li-->
    </ul>

    <form class="form-inline my-2 my-lg-0">
        <div class="bg-dark text-white" id="loginDiv">  <span id="loginText">Login with:&nbsp;</span>
            <button class="btn btn-primary" id="gLoginBtn"><i class="fab fa-google"></i> &nbsp; Google</button>
            <button class="btn btn-dark border-light" id="sLoginBtn"><i class="fab fa-steam"></i> &nbsp; Steam</button>
        </div>
    </form>
</nav>