<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">ArenaKeys</a>
    <ul class="navbar-nav mr-auto">
        <!--li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
        </li-->
    </ul>

    <form class="ml-auto mr-1">
        <div class="bg-dark text-white">Login with:&nbsp;
        <button class="btn btn-primary"><i class="fab fa-google"></i> &nbsp; Google</button>
        <button class="btn btn-dark border-light"><i class="fab fa-steam"></i> &nbsp; Steam</button>
        </div>
    </form>
</nav>